body {
    background-color:beige;
    display:grid;
    grid-template-columns: 1;
    grid-template-rows: 10vh 70vh 10vh;
    margin: 0;
}
#header {
    background-color: burlywood;
    display: flex;
    align-items:center;
    justify-content: center;
}
#header > button {
    margin: 50px;
}

.section {
    border: 2px solid;
}
#home{
    background-color: blanchedalmond;
    display: grid;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

#footer {
    background-color: darkcyan;
    display: flex;
    align-items: center;
    justify-content: space-around
}